.banner p.breadcumb {
  font-size: 12px;
  margin-bottom: unset;
  height: 40px;
  line-height: 40px;
}

.banner p.breadcumb a {
  color: black;
}

.banner p.breadcumb i {
  font-size: 11px;
}

.liner {
  margin: 0 auto;
  height: 2px;
  background-color: #D3A638;
  margin-top: 1rem;
  display: block;
}

.main {
  margin-top: 2rem;
}

.main .left-column {
  border: 1px solid #ccc;
  padding: 20px;
}

.main .left-column .header .liner {
  margin: unset !important;
  height: 2px;
  background-color: #DAA401;
  margin-top: 1rem;
  display: block;
  width: 100px;
}

.main .left-column .header h3 {
  color: #519746;
}

.main .left-column .header hr {
  margin-top: -1px;
}

.main .left-column .header p.description {
  font-weight: 600;
  font-size: 13px;
}

.main .left-column .body .content .title a {
  color: #519746;
  font-weight: 600;
}

.main .left-column .body .content .time {
  font-size: 12px;
}

.main .left-column .body .content .time i {
  color: #EFA300;
  margin-right: 5px;
}

.main .left-column .body .content .description {
  font-weight: 600;
  font-size: 13px;
}

.main .left-column .body .content p.read-more {
  color: #EFA300;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: unset;
  position: absolute;
  bottom: 0;
}

.main .left-column .body .content p.read-more i {
  margin-left: 5px;
  font-size: 11px;
}

.main .img-product h3 {
  font-size: 15px;
  font-weight: 600;
  color: #519746;
  margin-top: 10px;
}

.main .img-product .info .sale {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: unset;
}

.main .img-product .info .sale strong {
  color: red;
  font-size: 18px;
  font-weight: 600;
}

.main .img-product .info .price-origin {
  font-size: 13px;
}

.btn-area i {
  color: white;
  line-height: 50px;
  margin-right: 5px;
}

.btn-area .buy-area {
  background: #008753;
  background: -webkit-gradient(linear, left bottom, left top, from(#008753), to(#2b9947));
  background: linear-gradient(0deg, #008753 0%, #2b9947 100%);
  height: 52px;
  border-radius: 5px;
}

.btn-area .buy-area a {
  color: white;
}

@media screen and (max-width: 480px) {
  .btn-area .buy-area {
    font-size: 15px;
  }
}

.btn-area .buy-now {
  background: #b3812e;
  background: -webkit-gradient(linear, left bottom, left top, from(#b3812e), color-stop(81%, #cf9d3a));
  background: linear-gradient(0deg, #b3812e 0%, #cf9d3a 81%);
  border-radius: 5px;
  height: 52px;
}

@media screen and (max-width: 480px) {
  .btn-area .buy-now {
    font-size: 15px;
  }
}

.btn-area .buy-now a {
  color: white;
}

.customer .header {
  background-color: #519746;
  height: 50px;
}

.customer .header h3 {
  line-height: 50px;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.customer .body {
  background-color: #f2f2f2;
  padding: 5px 0 0 10px;
}

.customer .body .text {
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
}

.newsest .header h3 {
  color: #408544;
  padding: 10px 0 0 10px;
  font-weight: 700;
  display: inline;
  font-size: 18px;
}

.newsest .body img {
  width: 100%;
}

.newsest .body .list-news li {
  list-style: none;
  padding: 10px 15px 10px 15px;
  border: 1px solid #ccc;
}

.newsest .body .list-news li a {
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.newsest .body .list-news li i {
  color: #feba01;
  font-size: 11px;
  margin-right: 5px;
}

.rv-star .body {
  background-color: unset;
}

.rv-star .body .customer-rv img {
  border-radius: 50% !important;
  width: 60%;
  height: 9rem;
}

.rv-star .body .customer-rv .name {
  color: black;
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.rv-star .body .customer-rv .function {
  font-size: 12px;
}

.rv-star .body .customer-rv .talk {
  text-align: center;
  font-size: 12px;
}

.contact {
  height: auto !important;
}

.contact h3 {
  line-height: 50px;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.contact .header {
  height: 52px !important;
}

.contact .body {
  background-color: #f2f2f2;
  height: 100%;
}

.contact .body form {
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
}

.contact .body form input {
  height: 60px;
}

.contact .body form input,
.contact .body form textarea {
  display: block;
  width: 100%;
  border: 1px solid #D3A638;
  border-radius: 5px;
  padding: 10px;
}

.contact .body form button {
  background-color: #519746;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
}

@media screen and (max-width: 480px) {
  .contact .body form button {
    margin-bottom: 1rem;
  }
}

.contact .body form button i {
  margin-left: 1rem;
}
/*# sourceMappingURL=news.css.map */