// Variable
@mixin line-clamp($number) {
    display: -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#map-footer{
    width: 100%;
    height: 250px;
}
.map-contact{
    width: 100%;
    height: 500px;
}
.recent-news{
    margin-bottom: 70px;
}
.single-blog-style-one p{
    @include line-clamp(3);
}
.cs-list{
    margin-top: -75px;
}
@media only screen and (max-width : 728px){
    .d-none-mb{
        display: none !important;
    }
    .header-top .logo{
        margin-bottom: 3rem;
    }
}
.single-blog-style-one h3{
    @include line-clamp(2)
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.count-view{
    color: black;
    opacity: 0.6;
    font-size: 14px;
    i{
        margin-right: 3px;
    }
}
.blog-post-pagination{
    text-align: center;
}