$root-color : #FB0D45;
$second-color : #753F65;
$mobile : 1024px;
$table: 768px;
$desktop :1024px;

@mixin mobile {
    @media (max-width: #{$mobile - 1px}) {
        @content;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@mixin tablet {
    @media (min-width: #{$table}) and (max-width: #{$desktop - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin xl-desktop {
    @media (min-width: 1500px) {
        @content;
    }
}


.bg-f2 {
    background-color: #f2f2f2;
}

.bg-white {
    background-color: white;
}

.bg-f1 {
    background-color: #f1f1f1;
}

.no-focus {
    &:focus {
        outline: none;
    }
}
.container{
    @include desktop(){
        min-width: 1250px;
    }
}
.list-store-pagination {
    text-align: center;
}

@mixin box-shadow {
    border-image: initial !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    white-space: normal;
}

@mixin line-clamp($number) {
    display: -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.d-none-mb {
    @include mobile() {
        display: none !important;
    }
}

.nd-none-mb {
    @media only screen and (min-width: $mobile) {
        display: none !important;
    }
}


.tab-fixed-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 90;
    background-color: white;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-top: 1px solid #f0f2f5;

    @include desktop() {
        width: auto;
        right: 0;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        top: 35%;
        display: block;
        left: unset;
        bottom: unset;
        -webkit-box-shadow: -12px 2px 19px -2px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: -12px 2px 19px -2px rgba(0, 0, 0, 0.37);
        box-shadow: -12px 2px 19px -2px rgba(0, 0, 0, 0.37);
    }

    .item {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
        flex: 1 1 0%;
        text-decoration: none;
        color: black;

        @include desktop() {
            display: block;
            padding: 8px;
            border-top: 1px solid #f2f2f2;

            &:first-child {
                border-top: none;
            }
        }

        .block {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 60px;

            .icon {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                text-align: center;
                width: 36px;
                height: 36px;
                margin: 0px;

                img {
                    width: 35px;
                }
            }

            .title {
                font-size: 11px;
                height: 16px;
                line-height: 16px;
                width: 100%;
                text-align: center;

                @include desktop() {
                    font-size: 13px;
                    line-height: 20px;
                    height: 20px;
                    display: none;
                }
            }
        }
    }

}

.view-more{
    color: $root-color;
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
    text-decoration: none;
    &:hover{
        color: $root-color;
        text-decoration: none;
    }
    img{
        width: 18px;
        margin-right: 5px;
        /* margin-top: -3px; */
        margin-bottom: 4px;
    }
}
section{
    ._head {
        h3 {
            color: $root-color;
            text-align: center;
            font-size: 26px;
            text-transform: uppercase;
            font-weight: bold;
            @include mobile(){
                font-size: 22px;
            }
        }
        .detail {
            text-align: center;
            color: #818181;
            font-size: 16px;
            @include mobile(){
                font-size: 14px;
            }
        }
    }
}

.swiper-pagination-bullet {
    background-color: #B7B7B7;
    margin: 0 5px;
    transition: .6;
}

.swiper-pagination-bullet-active {
    background-color: $root-color;
}

.sale-slide-pagination {
    text-align: center;
    width: 100%;
    left: 0;
}
.swiper-pagination{
    width: 100%;
    left: 0;
}


.navication-slide{
    @include mobile(){
        display: none;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    top: 40%;
    div{
        &:focus{
            outline: none;
        }
        i{
            font-size: 30px;
        }
    }
    ._left{
        margin-left: -30px;
    }
    ._right{
        margin-right: -30px;
    }
}


.slide-block{
    .item,.item-local{
        transition: .2s;
        
        &:hover{      
            box-shadow:  -1px 10px 11px -9px  rgba(0, 0, 0, 0.2) !important;   
            // transform: scale(1.02); 
            .image{
                img{
                    -ms-transform: scale(1.1); /* IE 9 */
                    -webkit-transform: scale(1.1); /* Safari 3-8 */
                    transform: scale(1.1); 
                }
            }
        }
        .image{
            overflow: hidden;
            img{
                transition: transform .2s;
            }
        }
    }
}

.swiper-pagination-bullet{
    &:focus{
        outline: none;
    }
}

section{
    .swiper-container{
        padding: 1rem 0;
    }
}
div.breadcumb{
    margin: 20px 0;
    a{
        
        color: #818181;
        font-size: 14px;
        font-weight: 500;
    }
    .home{
        text-decoration: none;
    }
}


.pagination-page{
    margin: 2rem 0;
    display: flex;
    a{
        color: #747474;
        border: 1px solid #E2E2E2;
        text-decoration: none;
        text-align: center;
        background-color: white;
        font-size: 14px;
        display: block;
    }
    .page{
        height: 35px;
        width: 35px;
        line-height: 35px;
        margin-right: 7px;
    }
    .prev-page{
        height: 35px;
        line-height: 35px;
        padding: 0 10px;
        margin-right: 7px;
    }
    .icon{
        line-height: 25px;
        padding: 0 5px;
        text-align: center;
        display: flex;
        align-items: center;    
        margin-right: 7px;
    }
    .main{
        display: flex;
        width: 70%;
        justify-content: center;
    }
    .total{
        margin-left: 10px;
        line-height: 35px;
        color: #747474;
        font-size: 14px;
        strong{
            font-size: 12px;
        }
    }
    .go-page{
        width: 30%;
        display: flex;
        justify-content: flex-end;
        .total{
            margin-left: 0;
            margin-right: 10px;
        }
        input{
            color: #747474;
            width: 2rem;
            border: 1px solid #E2E2E2;
            padding-left: 5px;
            height: 35px;
            line-height: 35px;
        }
        .prev-page{
            margin-left: 10px;
        }
    }
}