#map{
    width: 100%;
    height : 250px;
    iframe{
        width: 100%;
        height: 100%;
    }
}
#map-contact{
    width: 100%;
    height: 500px;
    iframe{
        width: 100%;
        height: 100%;
    }
}
.quote-cs{
    font-style: italic;
    font-size: 14px !important;
}
.title-cs{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color : #202020;
    margin: 2rem 0 ;
}